.password {
	&-wrapper {
		display: flex;
		flex-direction: column;
		width: 700px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
		border: 1px;
		opacity: 0.85;

		border-bottom: 0;
	}
	&-box {
		display: flex;

		&_strength {
			background-color: lightgrey;
			border-bottom-right-radius: 5px;
			border-top-right-radius: 5px;
			bottom: 1px;
			width: 0%;
			height: 12px;
			transition: width 0.63s, background-color 0.2s;

			&_3 {
				height: 12px;
				width: 25%;
				background-color: firebrick;
				transition: width 0.63s, background-color 0.2s;
			}
			&_6 {
				height: 12px;
				width: 25%;
				background-color: firebrick;
				transition: width 0.63s, background-color 0.2s;
			}
			&_8 {
				height: 12px;
				width: 50%;
				background-color: yellow;
				transition: width 0.63s, background-color 0.2s;
			}
			&_9 {
				height: 12px;
				width: 75%;
				background-color: green;
				transition: width 0.63s, background-color 0.2s;
			}
			&_11 {
				height: 12px;
				width: 100%;
				background-color: seagreen;
				transition: width 0.63s, background-color 0.2s;
			}

			&_wrapper {
				display: flex;
				width: 100%;
				height: 12px;
				background-color: lightgrey;
				align-items: center;
			}
		}
	}
	&-buttons {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: center;
		width: 11rem;

		:hover {
			cursor: pointer;
		}
	}
	&-field {
		padding: 0.5rem;
		width: 100%;
	}
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: 100;
	font-style: normal;
	font-size: 48px;
	line-height: 1;
	padding: 0.5rem;
	color: gray;
}
h1 {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 2.2rem;

	font-family: 'Courier New', Courier, monospace;
}
